.logo{
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.button_parent{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;

}

.button_parent a {
    margin-right: 1rem;
}



.navigation{
    margin: 0 3rem;
    display: flex;
    width: 100%;
    justify-content: center;
    
    &_item{
        list-style: none;
    }
    &_link{
        color: white;
        text-decoration: none;
    }
}