<mat-toolbar color="primary">
    <a href="/" class="logo"> Hit the hammer</a>
    
    <div class="button_parent">
        <div  *ngIf="isAuthenticated; then exitButton; else enterButton"> </div>
    </div>
    
    <ng-template #exitButton>
        <button  mat-raised-button color="accent" class="button_primary" (click)="signOut()"> Sign Out </button>
    </ng-template>
    <ng-template #enterButton>
        <a href="/sign-up"  mat-raised-button color="accent" class="button_primary"> Sign Up </a>
        <a href="/sign-in"  mat-raised-button color="accent" class="button_primary"> Sign In </a>  
    </ng-template>
    
</mat-toolbar>

