.logo{
    text-transform: uppercase;
}

.button_signout{
    position: absolute;
    top: 1rem;
    right: 2rem;
}

.navigation{
    margin: 0 3rem;
    display: flex;
    width: 100%;
    justify-content: center;
    
    &_item{
        list-style: none;
    }
    &_link{
        color: white;
        text-decoration: none;
    }
}