<div class="auction-form_container">
    <form [formGroup]="auctionForm">
        <mat-form-field appearance="standard">
            <label> Name of the product </label>
            <input matInput type="text" formControlName="name" required >
            <mat-error *ngIf="name.hasError('required')"> Mention the product name please!! </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard">
            <label> Link of Image </label>
            <input matInput type="text" formControlName="image" required >
            <mat-error *ngIf="name.hasError('required')"> Put a picture as well.. </mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="standard">
            <label> Starting bidding price (in $) </label>
            <input matInput type="number" formControlName="price" required >  
            <mat-error *ngIf="price.hasError('required')"> Starting bid price too, maybe? </mat-error>   
        </mat-form-field>

        <mat-form-field appearance="standard">
            <label> Starting Time </label>
            <input matInput type="datetime-local" formControlName="startDateTime" required >  
            <mat-error *ngIf="startDateTime.hasError('required')"> Time period you want the auction to start on..? </mat-error>   
        </mat-form-field>

        <mat-form-field appearance="standard">
            <label> Ending Time </label>
            <input matInput type="datetime-local" formControlName="endDateTime" required >  
            <mat-error *ngIf="endDateTime.hasError('required')"> Time period you want the auction to end..? </mat-error>   
        </mat-form-field>

        <mat-form-field appearance="standard">
            <label> Auction is for Country </label>
            <mat-select formControlName="isInCountry">
                <mat-option *ngFor="let country of countries" [value]="country.key" >
                    {{country.value}}
                </mat-option>
            </mat-select> 
              
        </mat-form-field>

        <div class="feature_group" formArrayName="features">
            <button mat-raised-button color="warn" (click)="addFeature()"> Add feature </button>
            <div *ngFor="let feature of features.controls; let i = index;">
                <input matInput formControlName="{{i}}">
            </div>
        </div>

        <a class="start" mat-raised-button [disabled]="!name.value || !image.value || !price.value || !startDateTime.value || !endDateTime.value || !isInCountry.value" (click)="submitForm()">
            Add to Auction 
        </a>
        
    </form>
</div>


